<!-- <section class="section">
   <div class="row">
      <div >
         <div class="card">
            <div class="card-body">
               <h5 class="card-title">New Product</h5>
                  
                <h1 mat-dialog-title >New Product</h1>
                <div mat-dialog-content>
                  <div class="row mb-3">
                  <mat-form-field appearance="fill">
                     <mat-label>Product Name</mat-label>
                     <input matInput>
                   </mat-form-field>
                  </div>
                   <div class="example-container" >
                     
                     <mat-form-field appearance="fill" >
                        <mat-label>Id</mat-label>
                        <input matInput>
                      </mat-form-field>
 
                     <mat-form-field appearance="fill">
                       <mat-label>Type</mat-label>
                       <mat-select>
                         <mat-option *ngFor="let type of types" [value]="type.value">
                           {{type.viewValue}}
                         </mat-option>
                       </mat-select>
                     </mat-form-field>
                     
                       
                     </div>
 
                  <div class="example-container" >
                     
                     <mat-form-field appearance="fill" floatLabel="always">
                        <mat-label>Price</mat-label>
                        <input matInput type="number" class="example-left-align" placeholder="12.99">
                        <span matSuffix>$&nbsp;</span>
                      </mat-form-field>
 
 <mat-form-field appearance="fill">
  <mat-label>category</mat-label>
  <mat-select>
    <mat-option *ngFor="let category of categories" [value]="category.value">
      {{category.viewValue}}
    </mat-option>
  </mat-select>
 </mat-form-field>
 
  
 
 </div>
 
 <div class="row mb-3">
 <mat-form-field appearance="fill">
   <mat-label>Description</mat-label>
   <textarea matInput></textarea>
 </mat-form-field>
 </div>
 
 <div class="example-container" >
                     
  
   <mat-form-field appearance="fill">
      <mat-label>C1</mat-label>
      <input matInput>
    </mat-form-field>
 
    <mat-form-field appearance="fill">
      <mat-label>C2</mat-label>
      <input matInput>
    </mat-form-field>
 
 
 
 </div>
 
 <div class="example-container" >
                     
  
   <mat-form-field appearance="fill">
      <mat-label>C3</mat-label>
      <input matInput>
    </mat-form-field>
 
    <mat-form-field appearance="fill">
      <mat-label>C4</mat-label>
      <input matInput>
    </mat-form-field>
 
 
 
 </div>
 
 <div class="example-container" >
                     
  
   <mat-form-field appearance="fill">
      <mat-label>C5</mat-label>
      <input matInput>
    </mat-form-field>
 
    <mat-form-field appearance="fill">
      <mat-label>C6</mat-label>
      <input matInput>
    </mat-form-field>
 
 
 
 </div>
 
 <div class="example-container" >
                     
  
   <mat-form-field appearance="fill">
      <mat-label>C7</mat-label>
      <input matInput>
    </mat-form-field>
 
    <mat-form-field appearance="fill">
      <mat-label>C8</mat-label>
      <input matInput>
    </mat-form-field>
 
            </div>
         </div>
      </div> -->