<main id="main" class="main">
   


    <div class="pagetitle">
       <h1>Products Managemnt</h1>
       
       <nav>
          <ol class="breadcrumb">
             <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
             <li class="breadcrumb-item active">Manage Products</li>
             
             <div class="card-body" [align]= "'right'">
               <h5 class="card-title"></h5>
               <button class="btn" (click)="openDialog()">Create New</button>
              </div>
          </ol>
         
       </nav>
       
   
    </div>
    

                   <app-table-product></app-table-product>


             
             
            